@media (min-width: 0px) {
    body .k2 {
        width: 17vh;
        height: 4vh;
 }
}

@media (min-width: 360px) {
    body .k2 {
        width: 15vh;
        height: 5vh;
 }
}

@media (min-width: 576px) {
    body .k2 {
        width: 20vh;
        height: 2vh;
 }
}

@media (min-width: 768px) { 
    body .k2 {
        width: 40vh;
        height: 4vh;
      } 
    }

    @media (min-width: 912px) {
        body .k2 {
            width: 33vh;
            height: 3vh;
          } 
    
    }

@media (min-width: 992px) {
        body .k2 {
            width: 50vh;
            height: 5vh;
          } 
    
    }
@media only screen and (min-width: 1200px) {
    body .k2 {
      width: 50vh;
      height: 5vh;
    }
}

 
